#content {
     margin-left: 20px;
}
.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

h1{
    text-align: center;
    color: #FFEFDF;
    font-size: 75px;
}

h4{
    text-align: center;
    color: #9A6733;
    
}

body{
	background-color: #ECD5BD;
}
    
p.b{
	margin: 370px;
}    

p.a{
    margin: 10px;
}