{% extends "layout.html" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>Best and Worst of the Met Gala</h1>

<h2>KENDALL & KYLIE</h2>
<img src="kk.png" alt="kendall and kylie jenner at the met gala" width="100%">
<form action="" name="form" method="post">

<section id="app1">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <input type="text" name="comment1" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()">
      <input type="submit" class='primaryContained float-right' type="submit" id="submit" value="submit">
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->

<h3>{{ session['user'] }}</h3>
<p> {{ session ['1comment'] }} </p>

<br>
<hr size="1" width="100%" color="black">
<br>

<h2>BLAKE LIVELY</h2>

<img src="bl.png" alt="blake lively at the met gala" class="b" style="float:left" width="100%">
<section id="app2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <input type="text" name="comment2" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()">
      <input type="submit" class='primaryContained float-right' type="submit" id="submit" value="submit">
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<br>
  <hr size="1" width="100%" color="black">
<br>

<h2>EMMA CHAMBERLAIN</h2>
<img src="ec.png" class="b" alt="emma chamberlain at the met gala" width="100%">
<section id="app3">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <input type="text" name="comment3" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()">
          <input type="submit" class='primaryContained float-right' type="submit" id="submit" value="submit">
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
</form>
  <br>
  <br>
  <br>
  <p> {{ session ['1comment'] }} </p>


<pre>
{{ dump_user_data }}
</pre>

{% endblock %}
